*{
    box-sizing: border-box;
}
header{
    background-color: #212121;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.headerContainer{
    height: 80px;
    position: relative;
}
.headerText{
    position: absolute;
    left:0;
    height: 80px;
    padding-left: 25px;
}
.quantity{
    position: absolute;
    right: 40px;
    height: 80px;
    width: 80px;
}
.cartWhite{
    position: absolute;
    right: 0px;
    height: 80px;
    width: 80px;
    padding-right: 15px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#inCart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#merchProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blkCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.blkCartImg{
    height: 50px;
    margin: 40px;
}
.blkCartTxt{
    padding: 0px;
    margin: 0px;
    font-weight: 1000;
    font-size: 60px;
}
#txtTotal{
    padding: 0;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 1000;
}
#exitContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#blueCartbtn{
    border: none;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    font-size: 20px;
    color: #F5F5F5;
    background-color: #5596F5;
    width: 250px;
    height: 85px;
    text-align: center;
}


.merchCard {
    border: solid #5596f5 3px;
    border-radius: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 50%;
    max-height: auto;
    margin: 10px;
  }


  .delete-button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #E64E4E;
    color:white;
}
