/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
} */

a {
color: #FFFFFF; 
text-decoration: none;
}

main {
/* width: 100%; */
text-align: center;
margin-top: 15vh;

}

header {
  background-color: #212121;
  width: 100vw;
  position: fixed;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
}



input {
  border: 1px solid #e0e3eb;
  height: 45px;
  color: #18214d;
  font-size: 14px;
}


.item-card {
height: 85vh;
}


.phone-card {
display: flex;
flex-wrap: wrap;
}


.purchaseButton {
width: 250px;
height: 50px;
padding: 10px;
margin-bottom: 100px;
border-radius: 5px;
background-color: #5596F5;

}

.form-access {
max-width: 300px;
margin: 70px auto;
}

.form {
box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 14px -6px;
border: 1px solid #f2f4f9;
border-radius: 5px;
padding: 30px;
min-width: 350px;
color: #E64E4E;
}



.navbarName {
  margin-left: 2%;
  display:flex;
}



#cart {
  margin-right: 4%;
  display: flex;
  justify-content: space-between;
}

.cartImage{
  margin-top: 25%;
}

#itemcounter {
  font-size: 40px;
}

@media only screen and (max-width: 400px) {



header {
  font-size: 0.8em;
  flex-wrap: wrap;
}
header h1 {
  margin-top: 22px;
}

#cartTitle {
  display: none;
}
#carticon, #itemcounter {
  width:120%;
  font-size: 1.6em;
  
}
#carticon {
  margin-top:18px;
}

#itemcounter {
  margin-top: 10px;
}

}


