
* {
    box-sizing: border-box;
  }
body {

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

.form-access {
    max-width: 300px;
    margin: 70px auto;
  }
  
  .form {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 14px -6px;
    border: 1px solid #f2f4f9;
    border-radius: 5px;
    padding: 30px;
    min-width: 350px;
  }
  
  input {
    border: 1px solid #e0e3eb;
    height: 45px;
    color: #18214d;
    font-size: 14px;
  }

  .purchaseButton {
    border: 1px;
    font-size: 1.2em;
    width: 200px;
    height:150px
  }
  